@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(169, 171, 170, 1) 50%, rgba(125, 122, 122, 1) 100%);
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}